.contact-info {
    height: 954px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../source/assets/images/contact-info/back.jpg');
    background-size: cover;
    @include flex($direction: column,
        $align: center,
        $justify: center);

    .info {
        padding-top: 200px;
        max-width: 40%;
        font-family: Yeseva One;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
    }

    .icons {
        width: 71px;
        padding: 25px 0 35px 0;
        @include flex($justify: space-between);
    }

    .email {
        height: 28px;
        width: 28px;
        background: #E3B873;
        border-radius: 50%;
        transition: all 0.5s ease-out;
        @include flex($align: center,
            $justify: center);

        &:hover {
            transform: scale(1.2);
        }
    }

    .instagram {
        height: 28px;
        width: 28px;
        background: #E3B873;
        border-radius: 50%;
        transition: all 0.5s ease-out;
        @include flex($align: center,
            $justify: center);

        &:hover {
            transform: scale(1.2);
        }
    }

    .phone-number {
        color: #E3B873;

        &:hover {
            color: white;
        }
    }

    .map {
        width: 64.24%;
        height: 465px;
        height: 48.7%;
        opacity: 0.7;
    }
}