.header {
    height: 83px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #131313;

    .header__wrapper {
        width: 94.3%;
        margin-left: 5.7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        font-family: FuturaDemiC;
        // font-size: 14px;
        font-size: 1rem;
        // line-height: 16px;
        line-height: 1.14rem;
        text-transform: uppercase;
        color: #e3b873;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .navbar {
        flex-basis: 580px;
        padding-right: 20px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;

        &__item {
            display: inline;
            font-family: FuturaBookC;
            // font-size: 14px;
            font-size: 1rem;
            // line-height: 16px;
            line-height: 1.14rem;
            text-transform: uppercase;
            box-sizing: border-box;
        }

        &__link {
            margin-right: 10px;
            text-decoration: none;
            color: #fff;

            &:hover {
                box-shadow: 0 0 20px #E3B873;
            }
        }

        &__link_active {
            color: #e3b873;
        }
    }

    .feedback {
        width: 326px;
        margin-right: 102px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .phone-number {
        width: 145px;
        padding-right: 10px;
        box-sizing: border-box;
        font-family: FuturaDemiC;
        // font-size: 14px;
        font-size: 1rem;
        // line-height: 16px;
        line-height: 1.14rem;
        text-decoration-line: underline;
        color: #e3b873;

        &:hover {
            color: white;
        }
    }

    .btn {
        width: 50%;
        height: 37px;
        background: #e3b873;
        font-family: FuturaDemiC;
        // font-size: 13px;
        font-size: 0.93rem;
        // line-height: 15px;
        line-height: 1.07rem;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 20px silver;
        }
    }
}