.online-control {
    height: 1140px;
    width: 100%;

    .head {
        height: 36.32%;
        background: #131313;
        text-align: center;
        padding-top: 80px;
        position: relative;
        box-sizing: border-box;

        .heading {
            font-family: Yeseva One;
            font-size: convertPx(20);
            line-height: convertPx(28);
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 10px;
        }

        .badge {
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .video {
        transform: translateY(10%);
        max-width: 817px;
        max-height: 434px;
        height: 130%;
        margin: 0 auto;
    }

    .separator {
        text-align: center;
        margin-top: 250px;
    }

    .description {
        margin: 0 auto;
        margin-top: 34px;
        width: 52%;
        font-family: FuturaBookC;
        font-size: convertPx(20);
        line-height: 34px;
        text-align: center;
        color: #363636;
    }
}

.form-access {
    margin: 0 auto;
    margin-top: 75px;
    width: 65%;
    text-align: center;

    .wrapper-form {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }

    &--item {
        height: 49px;
        width: 30%;
        margin-right: 3%;
        font-family: FuturaBookC;
    }

    &--label {
        @include form-label(rgba(54, 54, 54, 0.5));
    }

    &--input {
        @include form-input(#363636);
        color: #363636;
    }

    &--button {
        width: 26%;
        @include btn;
    }

    &--check {
        @extend %checkbox;
        margin-top: 35px;
        width: 100%;
    }
}