@font-face {
    font-family: 'FuturaMediumC';
    src: url('assets/fonts/FuturaMediumC/FuturaMediumC.eot');
    src: url('assets/fonts/FuturaMediumC/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FuturaMediumC/FuturaMediumC.woff2') format('woff2'),
        url('assets/fonts/FuturaMediumC/FuturaMediumC.woff') format('woff'),
        url('assets/fonts/FuturaMediumC/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}