@font-face {
    font-family: 'FuturaBookC';
    src: url('assets/fonts/FuturaBookC/FuturaBookC.eot');
    src: url('assets/fonts/FuturaBookC/FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FuturaBookC/FuturaBookC.woff2') format('woff2'),
        url('assets/fonts/FuturaBookC/FuturaBookC.woff') format('woff'),
        url('assets/fonts/FuturaBookC/FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}