@font-face {
    font-family: 'FuturaDemiC';
    src: url('../../../assets/fonts/FuturaDemiC/FuturaDemiC.eot');
    src: url('../../../assets/fonts/FuturaDemiC/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/FuturaDemiC/FuturaDemiC.woff2') format('woff2'),
        url('../../../assets/fonts/FuturaDemiC/FuturaDemiC.woff') format('woff'),
        url('../../../assets/fonts/FuturaDemiC/FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}