@font-face {
    font-family: 'Proxima Nova';
    src: url('assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: url('assets/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'),
        url('assets/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
        url('assets/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}