@font-face {
    font-family: 'Yeseva One';
    src: url('assets/fonts/YesevaOne/YesevaOne.eot');
    src: url('assets/fonts/YesevaOne/YesevaOne.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/YesevaOne/YesevaOne.woff2') format('woff2'),
        url('assets/fonts/YesevaOne/YesevaOne.woff') format('woff'),
        url('assets/fonts/YesevaOne/YesevaOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}